.card__container {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 0.8s;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* translate moves the card, probably can create deck */
.card__container.is-flipped {
  transform: /*translateX(-100%)*/ rotateY(180deg);
}
