.page {
  display: flex;
  flex-direction: column;
  background-color: salmon;
  margin: 0;
  font-family: "Century Gothic", Helvetica, sans-serif;
}

.header {
  margin: 48px auto 0;
  background-color: black;
  color: wheat;
  padding: 0 10px;
  font-size: 48px;
  line-height: 1.2;
}

.quotation-marks {
  margin: 0 auto;
  color: darkcyan;
  text-shadow: 4px 4px black;
  font-size: 122px;
  font-family: "Monotype Corsiva";
  padding: 0 20px;
  line-height: 0.9;
}

.quote {
  margin: 18px auto 0;
  background-color: black;
  color: wheat;
  width: 480px;
  padding: 0 10px;
  font-size: 18px;
  line-height: 1.2;
}

.quote-author {
  margin: 6px auto 0;
  width: 480px;
  text-align: end;
  font-style: italic;
  padding: 0 10px;
  background-color: wheat;
  color: black;
  font-size: 18px;
  line-height: 1.2;
}

.quote-button {
  margin: 18px auto 0;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: wheat;
  background-color: black;
  box-shadow: 4px 4px wheat;
}

.quote-button:hover {
  color: salmon;
  transition: color 0.3s;
}

.quote-button:active {
  color: red;
}
