.card__quote-text-container {
  background-color: black;
  border-top: 3px solid wheat;
  border-left: 3px solid wheat;
  border-right: 3px solid wheat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}
