@import url("__quotation-marks/quotes__quotation-mars.css");
@import url("__button/quotes__button.css");
@import url("__text/quotes__text.css");
@import url("__author/quotes__author.css");

.quotes {
  max-width: 1080px;
  margin: 18px auto;
  display: flex;
  flex-direction: column;
  padding: 0 48px;
}
