@import url("__face/card__face.css");
@import url("__quote-text-container/card__quote-text-container.css");
@import url("__quote-text/card__quote-text.css");
@import url("__quote-author-container/card__quote-author-container.css");
@import url("__quote-author/card__quote-author.css");
@import url("__container/card__container.css");

.card {
  margin: 0 auto;
  width: 240px;
  height: 400px;
  padding: 0;
  perspective: 1000px;
}
